
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.bg-image {
    background-color: white;
        text-align: center;
    }

    .mat-cell {
        font-size: 20px;
    }

    .mat-header-cell {
        font-size:20px;
    }

    .mat-dialog-container {
        height: 40vh !important;
    }